html
    head
        title= title
        link(href='/style.css', rel='stylesheet')
        script(src='/script.js')
    body
        h2= 'Reader Configuratie'
        span(class='message') #{message}
    form(method='post')
        input(type='hidden' name='cmd' value='editsites')
        input(type='submit' name='submit' class={opened: sitesopened}
        value='Bewerk selectors')
    form
        input(type='text' name='query' value=query placeholder='naam')
        input(type='submit' value='>')
    form(method='post')
        input(type='hidden' name='cmd' value='newsite')
        input(type='text' name='name' placeholder='nieuw')
        input(type='submit' value='>')
    table
        tr
            th Name
            th Selector
        each selector, name in sites
            tr(class={opened: cssopened === name})
                td
                    div= name
                td(class='selector')
                    each sel in selector
                        div= sel
                td
                    form(method='post')
                        input(type='hidden' name='cmd' value='editcss')
                        input(type='hidden' name='name' value=name)
                        input(type='submit' name='submit' class={opened: cssopened === name}
                        value='Bewerk css')
